<table>
    <tr>
        <td>
            <app-user-profile (userProf)="getUserProf($event)"></app-user-profile>
        </td>
        <td class>
            <div *ngIf="userprof" class="userprofile">
                <app-display-user [userprof]="userprof"></app-display-user>
            </div>
        </td>
    </tr>
</table> <hr>
<table>
    <tr>
        <td>
            <app-job-profile (jobProf)="getJobProf($event)"></app-job-profile>
        </td>
        <td>
            <div *ngIf="jobprof" class="jobprofile">
                <app-display-job [jobprof]="jobprof"></app-display-job>
            </div>
        </td>
    </tr>
</table>